:root {
  --pale-one: #DDD1C7;
  --pale-two: #d1dcc3;
  --med-one: #8DB580;
  --dark-one: #737d7b;
  --dark-two: #4B4A67;
}


body {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
}

li {
  list-style: none;
}

button {
  background-color: var(--dark-two);
  color: var(--pale-one);
  margin: .2rem;
  border: none;
  border-radius: .5rem;
  font-size: x-large;
}

nav > li > button {
  width: 2rem;
  height: 2rem;
}

.app {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.reset {
  background-color: var(--dark-one);
  color: var(--pale-two);
}

.number-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice {
  width: 4rem;
  height: 4rem;
  margin: .5rem;
  background-color: whitesmoke;
  border: .1rem solid black;
  border-radius: .5rem;
  padding: .7rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: black;
  display: block;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  display: flex;
  justify-content: space-between;
}

.two .dot:nth-of-type(2){
  align-self: flex-end;
}

.three {
  display: flex;
  justify-content: space-between;
}

.three .dot:nth-of-type(2){
  align-self: center;
}

.three .dot:nth-of-type(3) {
  align-self: flex-end;
}

.four {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five {
  display: flex;
  justify-content: space-between;
}

.five > span.dot.mid {
  align-self: center;
}

.six {
  display: flex;
  justify-content: space-between;
}


.diceDisplay {
  display: flex;
  margin: .3rem;
  height: 7rem;
}

.rollingDice {
  display: flex;
  height: 7.6rem;
}

.rolling > .dice {
  animation: rolling .3s infinite linear;
}

@keyframes rolling {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}