:root {
  --pale-one: #eae4df;
  --pale-two: #e6ecdf;
  --med-one: #8DB580;
  --dark-one: #57615f;
  --dark-two: #4B4A67;
}

body {
  width: 100vw;
  height: 100vh;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background: rgb(251,255,246);
  background: -moz-radial-gradient(circle, rgba(251,255,246,1) 22%, rgba(195,220,187,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(251,255,246,1) 22%, rgba(195,220,187,1) 100%);
  background: radial-gradient(circle, rgba(251,255,246,1) 22%, rgba(195,220,187,1) 100%);
}

nav {
  display: flex;
}

li {
  list-style: none;
}

button {
  background-color: var(--dark-two);
  color: var(--pale-one);
  margin: .2rem;
  border: none;
  border-radius: .5rem;
  font-size: x-large;
}

button:hover {
  -webkit-box-shadow: -4px 4px 12px -3px #000000; 
  box-shadow: -4px 4px 12px -3px #000000;
  transform: translate(1px, -1px);}

nav > li > button {
  width: 2rem;
  height: 2rem;
}

.app {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.reset {
  background-color: var(--dark-one);
  color: var(--pale-two);
}

.number-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice {
  width: 4rem;
  height: 4rem;
  margin: .5rem;
  background-color: whitesmoke;
  border: .1rem solid black;
  border-radius: .5rem;
  padding: .7rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: black;
  display: block;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  display: flex;
  justify-content: space-between;
}

.two .dot:nth-of-type(2){
  align-self: flex-end;
}

.three {
  display: flex;
  justify-content: space-between;
}

.three .dot:nth-of-type(2){
  align-self: center;
}

.three .dot:nth-of-type(3) {
  align-self: flex-end;
}

.four {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five {
  display: flex;
  justify-content: space-between;
}

.five > span.dot.mid {
  align-self: center;
}

.six {
  display: flex;
  justify-content: space-between;
}


.diceDisplay {
  display: flex;
  margin: .3rem;
  height: 7rem;
}

@media only screen and (max-width: 912px) {
  .diceDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .reset {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.rolling > .dice  {
  animation: rolling .3s infinite linear;
}


@keyframes rolling {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}


.frog {
  padding-top: 2rem;
  width: 100vw;

}


.frog > img {
  max-width: 40vw;
  padding-right: 5rem;
  float: right;
}


.savedDice {
  animation: roll-in .5s 1 linear;
}

@keyframes roll-in {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 360deg;
  }
  50% {
    rotate: 720deg;
  }
  75% {
    rotate: 1080deg;
  }
  100% {
    rotate: 1440deg;
  }
}


.fly-in {
  animation: fly-in .5s 1 linear
}


@keyframes fly-in {
  0% {
    transform: translateX(-75vw);
  }
  100% {
    transform: translateX(0);
  }
}

.backwards {
  display: flex;
  flex-direction: row-reverse;
}

.dice-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.tally {
  padding: 2rem;
  font-size: x-large;
}

.roll-button {
  background-color: var(--med-one);
  color: var(--dark-two);
  padding: .5rem;
  margin-left: 5rem;
}

.roll-button:hover {
  background-color: var(--pale-two);
  color: var(--dark-two);
  padding: .5rem;
}

.empty-saved-dice {
  display: flex;
  justify-content: flex-end;
}

.saves-dice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice:hover {
  transform: scale(1.1);
}

.dice:hover {
  transform: scale(1.1);
}

.dice:active {
  animation: rolling .3s infinite linear;
}